


.new_mintons_page{
    background-color: red;
}

.chrome_page{
    background-color: aqua;
}

.irish_pub_page{
    background-color: bisque;
}

.simplicissimus_page{
    background-color: yellowgreen;
}

.ziegels_page{
    background-color: violet;
}

.kubiculum_page{
    background-color: turquoise;
}