

body{
    background-color: cadetblue;
}

h1{
    text-align: center;
    font-family:monospace;
}

.location_card{
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    
}



.video_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 50px;
}

.video_grid video {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}






.video-container {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.video-container video {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

video {
    width: 100%;
    height: auto; 
    display: block;
}



.image-frame {
    width: auto;
    max-width: 700px;
    
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 20px auto;
    position: relative;
}

.image-frame img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.image-frame:hover img {
    transform: scale(3.5); 
}











html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    overflow-x: hidden; 
}












.footer {
    background-color: #333;         
    color: #fff;                
    padding: 10px;             
    text-align: center;     
    position: fixed;     
    bottom: 0;           
    left: 0;         
    right: 0;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #bbb;                    
    margin: 0 10px;                 
    text-decoration: none;        
  }
  
  .footer-links a:hover {
    color: #fff;                   
  }
